.li {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: .5rem;
    list-style-type: none;
    cursor: pointer;
}

.selected {
    background-color: #ccc;
}